.home-container {
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F2F6FA;
    color: #000;
}