.form {
    display: flex;
    flex-direction: column;
}

form input,
form textarea {
  flex: 1;
  width: 100%;
  font-size: 0.9rem;
  color: #000;
  background: #fff;
  border-radius: 0.6rem;
  border: 1.5px solid #000;
  padding: 1rem;
  margin-bottom: 1rem;
}

form textarea {
  resize: none;
}

form button {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    border: 1.5px solid #a892fe;
    border-radius: 0.6rem;
    background: linear-gradient(90deg, #a892fe 0%, #8064e8 100%);
    padding: 0.7rem;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  form button:hover {
    color: #a892fe;
    background: transparent;
  }